* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-image: url('peakpx.jpg');
	background-size: cover;
}

header {
	background-color: #345b9f;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: right;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: #fff;
}

section {
	margin: 50px 0;
}

h1, h2, h3 {
	text-align: centre;
}

.cta {
	display: inline-block;
	padding: 10px 20px;
	background-color: #1583de;
	color: #fff;
	text-decoration: none }

select{
		width: 200px;
		padding: 10px;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		background-color: #f2f2f2;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
	
select option {
		font-size: 16px;
		color: #333;
		background-color: #fff;
	  }
	  
select:focus {
		outline: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	  }

footer{
	color: #fff
}	  
		